* {
  margin: 0;
  padding: 0;
}

#hud {
  display: none;
}

#load {
  top: 50%;
  display: block;
}

#replay {
  top: 50%;
  display: none;
}

#menu {
  display: none;
  font-size: 40px;
}

.menu-btn {
  font-size: 30px;
}

#lap_time {
  top: 40px;
  left: 40px;
  position: absolute;
  text-align: left;
}

#run_time {
  top: 40px;
  right: 40px;
  position: absolute;
  text-align: right;
}

#time {
  top: 10px;
  text-align: center;
  font-size: 50px;
}

.screen {
  position: absolute;
  width: 100%;
  z-index: 100;
  display: block;
  color: white;
}

body {
  overflow: hidden;
  background-color: black;
  text-align: center;
}

canvas {
  border: 1px solid;
}
