body {
	background-color: #000000;
	width: 100%;
}

h2 {
	font-family: "Exo 2";
	font-weight: 200;
	text-align: center;
	margin-top: -50px;
	font-size: 32pt;
}

.info {
	margin-top: 450px;
	text-align: center;
}

	.info > p {
		color: grey;
		font-size: 15pt;
		letter-spacing: 0.1em;
		font-family: "Exo 2";
		font-weight: 200;
	}

canvas {
	position: absolute;
	border: 1px solid white;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
}