body {
	background-color: #000000;
	width: 100%;
}

h2 {
	font-family: "Exo 2";
	font-weight: 200;
	text-align: center;
	margin-top: -50px;
	font-size: 32pt;
}

p {
	margin-top: 480px;
	text-align: center;
}

canvas {
	position: absolute;
	border: 1px solid white;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
}